#help-button {
    margin-bottom: 1rem;
    display: block;
}
.connecting,.connecting:focus,.connecting.active,.connecting:hover {
    background-color: orange !important;
    transition: none;
}

.connected,.connected:focus,.connected.active,.connected:hover {
    background-color: greenyellow !important;
    color: black;
    transition: none;
}

.disconnected,.disconnected:focus,.disconnected.active,.disconnected:hover {
    background-color: orangered !important;
    transition: none;
}

code {
    color: deeppink;
}

.help {
    font-size: 25px;
    font-weight: bold;
}
@media screen and (max-width: 1200px){
    .card {
        margin-top: 0;
    }
}

form .btn {
    padding: 0 6px;
}

.card {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#tabs {
    margin-bottom: 2rem;
}

.img-wrapper {
    width: 33.33%;
    display: inline-block;
}

.img {
    width: 100%;
    margin-bottom: 0.25rem;
}

#output .img {
    cursor: pointer;
}

body,html {
    padding: 0;
    margin: 0;
}
